@inject IJSRuntime Js

@inject NavigationManager navigationManager;


<!-- Main modal -->
<div id="updateProductModal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-modal md:h-full">
    <div class="relative p-4 w-full max-w-5xl h-full md:h-auto">
        <!-- Modal content -->
        <div class="relative p-4 bg-green-900 rounded-lg shadow dark:bg-green-800 sm:p-5">
            <!-- Modal header -->
            <div class="flex justify-between items-center pb-2 rounded-t ">
                <h3 class="text-lg font-semibold text-white">
                    @ProductName
                </h3>
                <div>
                    <a href="/product/detail/@ID">
                        <button id="editButton" type="button" class="bg-yellow-500 text-white px-1 py-1 rounded-md hover:bg-yellow-600 mr-2">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125" />
                            </svg>
                        </button>
                    </a>

                    <button id="closeButton" type="button" class="bg-red-500 text-white px-1 py-1 rounded-md hover:bg-red-600" data-modal-toggle="updateProductModal">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>

                </div>
            </div>

            <!-- Modal body -->
            <table class="border-green-600 w-full table-fixed font-sans">
                <thead class="bg-green-600 text-green-950 uppercase">
                    <tr class="border-b transition-colors">
                        <th class="h-12 px-2 text-muted-foreground text-left align-middle truncate">Presentación</th>
                        <th class="h-12 px-2 text-muted-foreground text-left align-middle truncate">Cantidad</th>
                        <th class="h-12 px-2 text-muted-foreground text-left align-middle truncate">Precio entrada</th>
                        <th class="h-12 px-2 text-muted-foreground text-left align-middle truncate">Precio salida</th>
                        <th class="h-12 px-2 text-muted-foreground text-left align-middle truncate">Precio salida menudeada</th>
                        <th class="h-12 px-2 text-muted-foreground text-left align-middle truncate">Trago/Menudeado</th>
                    </tr>
                </thead>
                <tbody class="text-md bg-green-50">
                    @foreach (Access.API.Presentation presentation in presentations)
                    {
                        <tr class="h-12 border-b transition-colors hover:bg-green-500">
                            <td class="p-2 align-middle">@presentation.name</td>
                            <td class="p-2 align-middle">@presentation.stock</td>
                            <td class="p-2 align-middle">@presentation.priceIncome.ToString("C0")</td>
                            <td class="p-2 align-middle">@presentation.priceOutput.ToString("C0")</td>
                            <td class="p-2 align-middle">@presentation.priceRetail.ToString("C0")</td>
                            @if (presentation.hasRetail)
                            {
                                <td class="p-2 align-middle">Sí</td>
                            }
                            else
                            {
                                <td class="p-2 align-middle">No</td>
                            }
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>

@code {

    IEnumerable<Access.API.Presentation> presentations = [];
    int ID = 0;
    string ProductName = string.Empty;

    public void Toggle(IEnumerable<Access.API.Presentation> presentations, int ID, string ProductName)
    {
        this.presentations = presentations;
        this.ID = ID;
        this.ProductName = ProductName;
        Js.InvokeVoidAsync("ShowModal", "updateProductModal", "closeButton", "editButton");
        StateHasChanged();
    }

    protected void GoToProductDetails()
    {
        navigationManager.NavigateTo($"/product/detail/{ID}");
    }
}
